.ai-chatbot {
    .pf-chatbot__button {
        inset-block-end: 20px;
        inset-inline-end: 150px;
    }

    .pf-chatbot {
        inset-block-end: 80px;
        inset-inline-end: 150px;
    }
}
